{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-offset-1 col-md-10">
        <h1>News created by {{ company.name }}</h1>
        <a class="btn btn-primary" href="{{ path('news_new') }}">Create news</a>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Content</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for news in company.news %}
                <tr>
                    <td>{{ news.title }}</td>
                    <td>{% if news.date %}{{ news.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ news.content|length > 50 ? news.content|slice(0, 50) ~ '...' : news.content  }}</td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('news_show', { 'id': news.id }) }}">Show</a>
                        <a class="btn btn-warning" href="{{ path('news_edit', { 'id': news.id }) }}">Edit</a>
                        {{ form_start(news.form, { 'attr': {'class': 'delete-action'} }) }}
                        <input class="btn btn-danger" type="submit" value="Delete">
                        {{ form_end(news.form) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row"></div>
{% endblock %}
