{% extends 'base.html.twig' %}

{% block body %}
    <div class="row news">
        <h1>{{ news.title }}</h1>
        <div class="col-md-offset-1 col-md-10 content">
            {{ news.content|raw }}
            <div class="row">
                Published by <a href="{{ path('company_show', {id: news.company.id}) }}">{{ news.company.name }}</a>
                <span class="pull-right date">{{ news.date|date('m/d/Y H:i:s') }}</span>
            </div>
        </div>
    </div>
    <div class="links">
        <a href="{{ path("news_public") }}" class="col-md-offset-1 btn btn-default">Back to list</a>
        {% if is_granted("ROLE_COMPANY") %}
            <a href="{{ path("news_index") }}" class="col-md-offset-1 btn btn-default">Back to my news list</a>
        {% endif %}
    </div>
{% endblock %}
