{% extends 'base.html.twig' %}

{% block body %}
    <h1>Flow</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ flow.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if flow.date %}{{ flow.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('flow_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('flow_edit', { 'id': flow.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
