{% extends 'base.html.twig' %}

{% block body %}
    <div class="row crud-section">
        <h1>Course edit</h1>
        <div class="row">
            <a class="col-md-offset-1 btn btn-link" href="{{ path('course_index') }}">Back to the list</a>
        </div>
        <div class="row">
            {{ form_start(edit_form, { 'attr': {'class': 'col-md-offset-1 col-md-8'} }) }}
            <div class="form-group">
                <label>Course title</label>
                {{ form_widget(edit_form.title, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="form-group">
                <label>Course img</label>
                {{ form_widget(edit_form.img) }}
                <div class="mini-img">Now you have <img src="/images/course_logo/{{ course.img }}" alt=""></div>
            </div>
            <div class="form-group">
                <label>Description</label>
                {{ form_widget(edit_form.description, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="form-group">
                <label>Price</label>
                {{ form_widget(edit_form.price, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="form-group">
                <label>Duration</label>
                {{ form_widget(edit_form.duration, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <input class="btn btn-info col-md-1" type="submit" value="Edit">
            {{ form_end(edit_form) }}
        </div>
        <div class="row"></div>
        <div class="">
            <a class="btn btn-primary" href="{{ path('flow_new', {id: course.id}) }}">Add new flow</a>
            <table class="table table-bordered col-md-3">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for flow in course.flows %}
                    <tr {% if date(flow.date) < date() %} class="danger"{% else %} class="active"{% endif %}>
                        <td><a href="{{ path('flow_edit', { 'id': flow.id }) }}">{{ flow.id }}</a></td>
                        <td>{% if flow.date %}{{ flow.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>
                            <a class="btn btn-warning" href="{{ path('flow_edit', { 'id': flow.id, 'courseId': course.id }) }}">edit</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="">
            <a class="btn btn-primary" href="{{ path('material_new', {id: course.id}) }}">Add new material</a>
            <table class="table table-bordered col-md-3">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Link</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for material in course.materials %}
                    <tr>
                        <td>{{ material.id }}</td>
                        <td>{{ material.name }}.{{ material.ext }}</td>
                        <td><span class="glyphicon glyphicon-save"></span>
                            <a href="{{ path('material_show', { 'id': material.id }) }}">Download</a>
                        </td>
                        <td>
                            {{ form_start(material.form) }}
                            <input class="btn btn-danger" type="submit" value="Delete">
                            {{ form_end(material.form) }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="">
            <a class="btn btn-primary" href="{{ path('homework_new', {id: course.id}) }}">Add new homework</a>
            <table class="table table-bordered col-md-3">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Content</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for homework in course.homeworks %}
                        <tr>
                            <td>{{ homework.id }}</td>
                            <td>{{ homework.name }}</td>
                            <td>{{ homework.content }}</td>
                            <td>
                                <a class="btn btn-warning" href="{{ path('homework_edit', { 'id': homework.id }) }}">edit</a>
                                {{ form_start(homework.form, { 'attr': {'class': 'delete-action'} }) }}
                                <input class="btn btn-danger" type="submit" value="Delete">
                                {{ form_end(homework.form) }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
            {% if course.exam %}
                <a class="btn btn-warning" href="{{ path('exam_edit', { 'id': course.exam.id }) }}">Edit exam</a>
            {% else %}
                <a class="btn btn-primary" href="{{ path('exam_new', { 'id': course.id }) }}">Create exam</a>
            {% endif %}
        </div>
    </div>


{% endblock %}
