{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <h1 class="title">Companies</h1>
        {% for company in companies %}
            <div class="row company-list">
                <h1>
                    <a href="{{ path('company_show', { 'id': company.id }) }}">{{ company.name }}</a>
                </h1>
                <div class="col-md-4">
                    <img src="/images/company_logo/{{ company.logo }}" alt="">
                </div>
                <div class="col-md-8">
                    <p>{{ company.description }}</p>
                    Company site: <a class="site" href="{{ company.site }}">{{ company.site }}</a>
                    <div class="row additional-info">
                        <div class="col-md-4">
                            <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                            Count of cources: <span class="course-count">50</span>
                        </div>
                        <div class="col-md-4">
                            <a href="{{ path('company_show', { 'id': company.id }) }}" class="btn btn-info">View company</a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="line"></div>
        {% endfor %}
    </div>
{% endblock %}
