{% extends 'base.html.twig' %}

{% block body %}
 <div class="row">
     <div class="row company-list">
         <h1>
             <a href="">{{ company.name }}</a>
         </h1>
         <div class="col-md-4">
             <img src="/images/company_logo/{{ company.logo }}" alt="">
         </div>
         <div class="col-md-8">
             <p>{{ company.description }}</p>
             Company site: <a class="site" href="{{ company.site }}">{{ company.site }}</a>
         </div>
         <div class="square-menu">
             <div class="col-md-2 square square-menu-1">Courses <br>{{ company.courses|length }}</div>
             <div class="col-md-2 square square-menu-2">Vacancies<br>{{ company.vacancies|length }}</div>
             <div class="col-md-2 square square-menu-3">News<br>{{ company.news|length }}</div>
         </div>
     </div>
     <div class="row company-list">
         <h1>
             <a href="">Recent Vacancies</a>
         </h1>
         {% for vacancy in vacancyRecommend %}
             <div class="vacancy-item">
                 <a href="{{ path("vacancy_show", {id:vacancy.id}) }}">{{ vacancy.name }}</a>

             </div>
         {% endfor %}
     </div>

     <div class="row company-list">
         <h1>
             <a href="">Recent Courses</a>
         </h1>
         <div class="vacancy-item-course">
         {% for course in courseRecommend %}
                 <div class="col-md-offset-1 col-xs-6 col-sm-4 col-md-3 col-lg3">
                     <div class="thumbnail">
                         <img src="/images/course_logo/{{ course.img }}">
                         <div class="caption">
                             <h2>{{ course.title }}</h2>
                             <p>{{ course.description }}</p>
                             <a href="{{ path('course_show', {id:course.id}) }}" class="btn btn-success">Learn more</a>
                         </div>
                     </div>
                 </div>
         {% endfor %}
         </div>
     </div>

     <div class="row company-list">
         <h1>
             <a href="">Recent News</a>
         </h1>
         {% for news in newsRecommend %}
             <div class="vacancy-item">
                 <a href="{{ path("news_show", {id:news.id}) }}">{{ news.title }}</a>
                 <div class="date">{{ news.date|date('Y-m-d H:i:s') }}</div>
             </div>
         {% endfor %}
     </div>
 </div>
{% endblock %}
