{% extends 'base.html.twig' %}

{% block body %}
 <div class="row">
     <div class="row company-list">
         <h1>
             <a href="">{{ company.name }}</a>
         </h1>
         <div class="col-md-4">
             <img src="/images/company_logo/{{ company.logo }}" alt="">
         </div>
         <div class="col-md-8">
             <p>{{ company.description }}</p>
             Company site: <a class="site" href="{{ company.site }}">{{ company.site }}</a>
         </div>
         <div class="square-menu">
             <div class="col-md-2 square square-menu-1">Courses <br>{{ company.courses|length }}</div>
             <div class="col-md-2 square square-menu-2">Vacancies<br>{{ company.vacancies|length }}</div>
             <div class="col-md-2 square square-menu-3">News<br>{{ company.news|length }}</div>
         </div>
     </div>
     <div class="row company-list">
         <h1>
             <a href="">Recent Vacancies</a>
         </h1>
         {% for vacancy in vacancyRecommend %}
             <div class="vacancy-item">
                 <a href="{{ path("vacancy_show", {id:vacancy.id}) }}">{{ vacancy.name }}</a>

             </div>
         {% endfor %}
     </div>

     <div class="row company-list">
         <h1>
             <a href="">Recent Courses</a>
         </h1>

     </div>

     <div class="row company-list">
         <h1>
             <a href="">Recent News</a>
         </h1>

     </div>
 </div>
{% endblock %}
