{% extends 'base.html.twig' %}

{% block body %}
<div class="row vacancy">
    <h1>{{ vacancy.name }}</h1>
    <div class="col-md-offset-3 col-md-6">
        <h4>Company:</h4> <a href="{{ path("company_show", {id: vacancy.company.id}) }}">{{ vacancy.company.name }}</a>
        <p>
            <h4>Requirements</h4>
            {{ vacancy.description }}
        </p>
        <h4>Salary:</h4> ${{ vacancy.salary }}<br>
        <h4>Status:</h4> {% if vacancy.active %}open{% else %}closed{% endif %}<br>
        <div class="category-tag">
            {% for item in vacancy.categories %}
                <span>
                    <a href="{{ path("vacancy_search", {id:item.id}) }}">
                    {{ item.name }}
                    </a>
                </span>
            {% endfor %}
        </div>
        <div class="links">
            <a href="{{ path("vacancy_public") }}" class="col-md-offset-1 btn btn-default">Back to list</a>
            {% if is_granted("ROLE_COMPANY") %}
                <a href="{{ path("vacancy_index") }}" class="col-md-offset-1 btn btn-default">Back to my vacancies list</a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
