{% extends 'base.html.twig' %}

{% block body %}
    <h1>Homework list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for homework in homeworks %}
            <tr>
                <td><a href="{{ path('homework_show', { 'id': homework.id }) }}">{{ homework.id }}</a></td>
                <td>{{ homework.content }}</td>
                <td>{{ homework.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('homework_show', { 'id': homework.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('homework_edit', { 'id': homework.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('homework_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
