{% extends 'base.html.twig' %}

{% block body %}
    <div class="">
        <table class="table table-bordered col-md-3">
            <thead>
            <tr>
                <th>User</th>
                <th>Course</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for req in userRequests %}
                <tr>
                    <td>{{ req.user.username }}</td>
                    <td><a href="{{ path('course_show', { 'id': req.flow.course.id }) }}">{{ req.flow.course.title }}</a></td>
                    <td>
                        <a class="btn btn-success" href="{{ path('request_accept', { 'id': req.id }) }}">Accept</a>
                        {{ form_start(req.form, { 'attr': {'class': 'delete-action'} }) }}
                        <input class="btn btn-danger" type="submit" value="Decline">
                        {{ form_end(req.form) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
