{% extends "base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-offset-3 col-md-4 teacher-info">
            <div class="col-md-2">
                <img src="/img/teacher.svg" alt="">
            </div>
            <div class="col-md-9">
                <p>Name: {{ teacher.fullName }}</p>
                <p>Experience: {{ teacher.experience }}</p>
                <p>Qualification: {{ teacher.qualification }}</p>
                <p>Contacts: {{ teacher.contacts }}</p>
                <p>Your company: {{ teacher.company.name }}</p>
            </div>
            <a href="{{ path('fos_user_security_logout') }}" class="col-md-1 circle">
                <span class="glyphicon glyphicon-log-out"></span>
            </a>
        </div>
    </div>

    <div class="row teacher-courses">
        {% for course in teacher.company.courses %}
            <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
                <div class="thumbnail">
                    <img src="/images/course_logo/{{ course.img }}">
                    <div class="caption">
                        <h2><a href="">{{ course.title }}</a></h2>
                    </div>
                    <span class="glyphicon glyphicon-book"></span>
                    <a href="">Active Homeworks: <span class="badge">{{ course.homeworks|length }}</span></a></br>
                    <span class="glyphicon glyphicon-flag"></span>
                    <a href="">Active Exams: <span class="badge">1</span></a></br>
                    <div class="row bottom">
                        <a class="col-md-3">
                            <span class="glyphicon glyphicon-comment"></span>
                        </a>
                        <div class="col-md-9">
                                <a href="" class="btn btn-primary pull-right">Manage</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock body %}