{% extends 'base.html.twig' %}

{% block body %}
<div class="row crud-section">
    <div class="flow-creation">
        <h1>{{ userHomework.homework.name }}</h1>
        <div>
            {{ userHomework.homework.content | raw }}
        </div>
        <div>
            {{ userHomework.content }}
        </div>
        {{ form_start(edit_form) }}
        <div class="form-group">
            <label>Write your comment: </label>
            {{ form_widget(edit_form.comment, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-group">
            <label>Set a mark: </label>
            {{ form_widget(edit_form.mark, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <input class="btn btn-info col-md-1" type="submit" value="Check">
        {{ form_end(edit_form) }}
    </div>
</div>
{% endblock %}
